<div style="background-color: #f5f5f5; height: '110%'; width: '100%';">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <app-aside-user></app-aside-user>
    </div>
    <div class="col-sm-8" style="background-color: #fff; margin-top: 20px; border-radius: 3px;box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;">
        <ul class="nav nav-tabs" style="margin-top: 20px;">
            <li class="active"><a data-toggle="tab" href="#home">Tất cả</a></li>
            <li><a data-toggle="tab" href="#menu1" (click)="filterOrder('Đã giao')">Đã giao</a></li>
            <li><a data-toggle="tab" href="#menu2" (click)="filterOrder('Đã hủy')">Đã hủy</a></li>
        </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div  *ngFor="let item of listIdShopinOrder">
                <div class="row">
                    <div class="col-md-10">
                      <form class="app-search d-none d-lg-block" style="margin-top: 15px;">
                        <div class="position-relative">
                          <input type="text" class="form-control" placeholder="Search..." name="keywordDetail"
                            id="keywordDetail" #keywordDetail>

                        </div>
                      </form>
                    </div>
                    <div class="col-md-2">
                      <input type="submit" class="btn btn-danger"
                        value="Tìm" style="border-radius:4px 4px; width: 76px; margin-top: 14px;">
                      &nbsp;
                    </div>
                  </div>
              <div class="row" style="margin-top: 20px;">
                <div class="col-sm-8">
                  <p>
                    <em style="background-color: #d43f3a; color: #fff;border-radius: 2px; padding: 2px; margin-right: 6px;">Yêu thích+</em>
                    <b style="margin-right: 6px;"> {{item.shop.name}}</b>
                    <em style="background-color: #d43f3a; color: #fff;border-radius: 2px; padding: 5px;margin-right: 8px;"><span class="glyphicon glyphicon-comment"></span> Chat</em>
                    <em style="margin-right: 6px; border: 1px dimgray solid; padding: 5px;border-radius: 2px;"><span class="glyphicon glyphicon-calendar"></span> Xem shop</em>
                  </p>
                </div>
                <div class="col-sm-4" >
                  <p>
                    <em style="color: #26aa99;"><span class="glyphicon glyphicon-send"></span> Giao hàng thành công</em> |
                    <em style="color: #d43f3a;">ĐÃ GIAO</em>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-2">
                  <img src="https://banhbeoshop.com/210611132-362279608795483-7775672572098723662-n.jpg" height="90px" width="90px">
                </div>
                <div class="col-sm-8">
                  <em style="font-size: 16px;">Kẹp tóc kim loại ulzzang kiểu hàn quốc</em><br>
                  <em style="color: darkgrey;" >Phân loại: BB01</em><br>
                  <em>x1</em>
                </div>
                <div class="col-sm-2">
                  <del style="color: darkgrey; margin-right: 6px;">  30.000</del>
                  <em  style="color: #d43f3a;"> ₫ 25.000</em>
                </div>
              </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade" *ngFor="let item of listOrderFilter">
              <div class="row" style="margin-top: 20px;">
                <div class="col-sm-8">
                  <p>
                    <em style="background-color: #d43f3a; color: #fff;border-radius: 2px; padding: 2px; margin-right: 6px;">Yêu thích+</em>
                    <b style="margin-right: 6px;"> {{item.order_detail[0].productOption.product.shop.name}}</b>
                    <em style="background-color: #d43f3a; color: #fff;border-radius: 2px; padding: 5px;margin-right: 8px;"><span class="glyphicon glyphicon-comment"></span> Chat</em>
                    <em style="margin-right: 6px; border: 1px dimgray solid; padding: 5px;border-radius: 2px;"><span class="glyphicon glyphicon-calendar"></span> Xem shop</em>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p>
                    <em style="color: #26aa99;"><span class="glyphicon glyphicon-send"></span> Giao hàng thành công</em> |
                    <em style="color: #d43f3a;">ĐÃ GIAO</em>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-2">
                  <img src="https://banhbeoshop.com/210611132-362279608795483-7775672572098723662-n.jpg" height="90px" width="90px">
                </div>
                <div class="col-sm-8">
                  <em style="font-size: 16px;">Kẹp tóc kim loại ulzzang kiểu hàn quốc</em><br>
                  <em style="color: darkgrey;" >Phân loại: BB01</em><br>
                  <em>x1</em>
                </div>
                <div class="col-sm-2">
                  <del style="color: darkgrey; margin-right: 6px;">  30.000</del>
                  <em  style="color: #d43f3a;"> ₫ 25.000</em>
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade">
              <div class="row" style="margin-top: 20px;">
                <div class="col-sm-8">
                  <p>
                    <em style="background-color: #d43f3a; color: #fff;border-radius: 2px; padding: 2px; margin-right: 6px;">Yêu thích+</em>
                    <b style="margin-right: 6px;"> KimThanhCute_Shop</b>
                    <em style="background-color: #d43f3a; color: #fff;border-radius: 2px; padding: 5px;margin-right: 8px;"><span class="glyphicon glyphicon-comment"></span> Chat</em>
                    <em style="margin-right: 6px; border: 1px dimgray solid; padding: 5px;border-radius: 2px;"><span class="glyphicon glyphicon-calendar"></span> Xem shop</em>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p>
                    <em style="color: #26aa99;"><span class="glyphicon glyphicon-send"></span> trả hàng thành công</em> |
                    <em style="color: #d43f3a;">ĐÃ HỦY</em>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-2">
                  <img src="https://banhbeoshop.com/210611132-362279608795483-7775672572098723662-n.jpg" height="90px" width="90px">
                </div>
                <div class="col-sm-8">
                  <em style="font-size: 16px;">Kẹp tóc kim loại ulzzang kiểu hàn quốc</em><br>
                  <em style="color: darkgrey;" >Phân loại: BB01</em><br>
                  <em>x1</em>
                </div>
                <div class="col-sm-2">
                  <del style="color: darkgrey; margin-right: 6px;">  30.000</del>
                  <em  style="color: #d43f3a;"> ₫ 25.000</em>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
