<div class="container" style="margin-top: 50px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-4"
      style="background-image: url('http://localhost:8080/ede-file/get/image/{{shopInfor.image_sub}}'); background-size: 400px auto; border-radius: 4px 4px;">
      <div class="row">
        <div class="col-sm-4"><img  src="http://localhost:8080/ede-file/get/image/{{shopInfor.image}}" alt="banner1"
            style=" width: 100px; height: 100px; margin-top: 15px;">
        </div>
        <div class="col-sm-8" style="color: white;">
          <h3>{{shopInfor.name}}</h3>
          <p>Online 10 phút trước</p>
        </div>
      </div>
      <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
        <div class="col-sm-6"><button
            style="border:1px solid rgb(255, 253, 253); background-color: transparent; color: white; width: 170px;"><i
              class="glyphicon glyphicon-plus"></i> Theo dõi</button></div>
        <div class="col-sm-6"><button
            style="border:1px solid rgb(255, 253, 253); background-color: transparent; color: white; width: 170px;"><i
              class="glyphicon glyphicon-comment"></i> Chat</button></div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 30px;">
      <i class="glyphicon glyphicon-gift"> Sản Phẩm: <strong style="color: red;">9987</strong> </i><br><br>
      <i class="glyphicon glyphicon-plus-sign"> Đang Theo Dõi: <strong style="color: red;">987</strong></i><br><br>
      <i class="glyphicon glyphicon-comment"> Tỉ Lệ Phản Hồi Chat:<strong style="color: red;"> 100% (Hen xui)</strong> </i>
    </div>
    <div class="col-sm-4" style="margin-top: 30px;">
      <i class="glyphicon glyphicon-user"> Người theo dõi: <strong style="color: red;">65785</strong></i><br><br>
      <i class="glyphicon glyphicon-star"> Đánh giá: <strong style="color: red;">5.0 (8986 Đánh
          giá)</strong></i><br><br>
      <i class="glyphicon glyphicon-calendar"> Tham gia: <strong style="color: red;">{{shopInfor.create_date| date :'dd-MM-yyyy'}}</strong></i>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------- -->
<hr>
<div class="category-derc form-group">
  <div class="container">
    <div class="title-category">
      <h3><strong style="margin-left: 40px;">Dạo</strong> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp; <strong><a (click)="ToAllProductInterfaceShop()">Tất cả sản phẩm</a></strong></h3>
    </div>

    <div class="category-desc" style="margin-top: 20px;">
      <div class="row">
        <h3>THÔNG TIN SHOP</h3>

        <div class="slider-container row">

          <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 col2">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="../../assets/img/slider-1.jpg" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="../../assets/img/slider-3.jpg" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="../../assets/img/slider-2.jpg" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>


          <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 col3">
            <div class="modcontent clearfix">
              <div class="banners banners1">
                <textarea class="form-control" rows="12" style="border: none;">
                  {{shopInfor.description}}
                  </textarea>


              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- ----------------------------------------------------------------------------------------------------- -->
    <div class="related titleLine products-list grid module ">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="modtitle">Gợi ý cho bạn </h3>
        </div>
        <div class="col-sm-6">
          <h4 style="margin-left: 80%; font-weight: bold;">Xem Tất Cả ></h4>
        </div>
      </div>

      <div *ngFor="let item of array" class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">

        <div class="product-item-container" style="height:300px">
          <div class="left-block">
            <div class="product-image-container second_img" style="height:150px">
              <a target="_self" title="Chicken swinesha">
                <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="image">
                <img src="/assets/img/6.jpg" class="img-2 img-responsive" alt="image">
              </a>
            </div>

            <div class="box-label">
              <span class="label-product label-sale">50%
              </span>
            </div>
            <div style="margin-top: 30px;">
              <div class="button-group so-quickview cartinfo--left">
                <button type="button" class="addToCart btn-button" title="Add to cart"> <i
                    class="fa fa-shopping-basket"></i>
                  <span>Add to cart</span>
                </button>
                <button type="button" class="wishlist btn-button" title="Add to Wish List"><i
                    class="fa fa-heart"></i><span>Add to Wish
                    List</span>
                </button>
                <button type="button" class="compare btn-button" title="Compare this Product "><i
                    class="fa fa-refresh"></i><span>Compare this
                    Product</span>
                </button>
                <!--quickview-->
                <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html"
                  title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                <!--end quickview-->
              </div>
            </div>
          </div>
          <div class="right-block">
            <div class="caption">
              <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div>
              <h4><a href="product.html" title="Chicken swinesha" target="_self"></a>
                Áo thun thời trang
              </h4>
              <div class="price">
                <div>
                  <span class="price-new">$46.00</span>
                  <span class="price-old">$55.00</span>
                </div>
                <span class="price-new"></span>
              </div>

            </div>
          </div>
        </div>
      </div>



    </div>


    <div class="banners banners6">
      <div class="banner">

        <img src="../../assets/img/banner7.jpg" alt="image">

      </div>
    </div>






    <!-- ------------------------------------------------------------------------------------------ -->
    <div class="related titleLine products-list grid module ">

      <div class="row">
        <div class="col-sm-6">
          <h3 class="modtitle">DEAL HOT, MUA NGAY KẺO LỠ!</h3>
        </div>
        <div class="col-sm-6">
          <h4 style="margin-left: 80%; font-weight: bold;">Xem Tất Cả ></h4>
        </div>
      </div>

      <div *ngFor="let item of array" class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">

        <div class="product-item-container" style="height:300px">
          <div class="left-block">
            <div class="product-image-container second_img" style="height:150px">
              <a target="_self" title="Chicken swinesha">
                <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="image">
                <img src="/assets/img/6.jpg" class="img-2 img-responsive" alt="image">
              </a>
            </div>

            <div class="box-label">
              <span class="label-product label-sale">50%
              </span>
            </div>
            <div style="margin-top: 30px;">
              <div class="button-group so-quickview cartinfo--left">
                <button type="button" class="addToCart btn-button" title="Add to cart"> <i
                    class="fa fa-shopping-basket"></i>
                  <span>Add to cart</span>
                </button>
                <button type="button" class="wishlist btn-button" title="Add to Wish List"><i
                    class="fa fa-heart"></i><span>Add to Wish
                    List</span>
                </button>
                <button type="button" class="compare btn-button" title="Compare this Product "><i
                    class="fa fa-refresh"></i><span>Compare this
                    Product</span>
                </button>
                <!--quickview-->
                <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html"
                  title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                <!--end quickview-->
              </div>
            </div>
          </div>
          <div class="right-block">
            <div class="caption">
              <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div>
              <h4><a href="product.html" title="Chicken swinesha" target="_self"></a>
                Áo thun thời trang
              </h4>
              <div class="price">
                <div>
                  <span class="price-new">$46.00</span>
                  <span class="price-old">$55.00</span>
                </div>
                <span class="price-new"></span>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>



    <!--banners 7-->
    <div class="banners banners7">
      <div class="row">
        <div class="banner1 col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="b1">
            <a href="#">
              <img src="../../assets/img/banner8.jpg" alt="image">
            </a>
          </div>
          <div class="b2">
            <a href="#">
              <img src="../../assets/img/banner9.jpg" alt="image">
            </a>
          </div>
        </div>
        <div class="banner2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a href="#">
            <img src="../../assets/img/banner10.jpg" alt="image">
          </a>
        </div>
        <div class="banner3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="b1">
            <a href="#">
              <img src="../../assets/img/banner11.jpg" alt="image">
            </a>
          </div>
          <div class="b2">
            <a href="#">
              <img src="../../assets/img/banner12.jpg" alt="image">
            </a>
          </div>
        </div>
      </div>
    </div>


    <!--changed listings-->


        <div class="related titleLine products-list grid module ">

          <div class="row">
            <div class="col-sm-6">
              <h3 class="modtitle">HÀNG MỚI VỀ <33</h3>
            </div>
            <div class="col-sm-6">
              <h4 style="margin-left: 80%; font-weight: bold;">Xem Tất Cả ></h4>
            </div>
          </div>

          <div *ngFor="let item of array" class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">

            <div class="product-item-container" style="height:300px">
              <div class="left-block">
                <div class="product-image-container second_img" style="height:150px">
                  <a target="_self" title="Chicken swinesha">
                    <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="image">
                    <img src="/assets/img/6.jpg" class="img-2 img-responsive" alt="image">
                  </a>
                </div>

                <div class="box-label">
                  <span class="label-product label-sale">50%
                  </span>
                </div>
                <div style="margin-top: 30px;">
                  <div class="button-group so-quickview cartinfo--left">
                    <button type="button" class="addToCart btn-button" title="Add to cart"> <i
                        class="fa fa-shopping-basket"></i>
                      <span>Add to cart</span>
                    </button>
                    <button type="button" class="wishlist btn-button" title="Add to Wish List"><i
                        class="fa fa-heart"></i><span>Add to Wish
                        List</span>
                    </button>
                    <button type="button" class="compare btn-button" title="Compare this Product "><i
                        class="fa fa-refresh"></i><span>Compare this
                        Product</span>
                    </button>
                    <!--quickview-->
                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html"
                      title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                    <!--end quickview-->
                  </div>
                </div>
              </div>
              <div class="right-block">
                <div class="caption">
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  </div>
                  <h4><a href="product.html" title="Chicken swinesha" target="_self"></a>
                    Áo thun thời trang
                  </h4>
                  <div class="price">
                    <div>
                      <span class="price-new">$46.00</span>
                      <span class="price-old">$55.00</span>
                    </div>
                    <span class="price-new"></span>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

    <!--// End Changed listings-->
