<div class="container" style="margin-top: 50px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-4"
      style="background-image: url('/assets/img/ba.jpg'); background-size: 400px auto; border-radius: 4px 4px;">
      <div class="row">
        <div class="col-sm-4"><img src="/assets/img/nen.jpg" alt="banner1"
            style=" width: 100px; height: 100px; margin-top: 15px;">
        </div>
        <div class="col-sm-8" style="color: white;">
          <h3>KimThanh.vn</h3>
          <p>Online 10 phút trước</p>
        </div>
      </div>
      <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
        <div class="col-sm-6"><button
            style="border:1px solid rgb(255, 253, 253); background-color: transparent; color: white; width: 170px;"><i
              class="glyphicon glyphicon-plus"></i> Theo dõi</button></div>
        <div class="col-sm-6"><button
            style="border:1px solid rgb(255, 253, 253); background-color: transparent; color: white; width: 170px;"><i
              class="glyphicon glyphicon-comment"></i> Chat</button></div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 30px;">
      <i class="glyphicon glyphicon-gift"> Sản Phẩm: <strong style="color: red;">9987</strong> </i><br><br>
      <i class="glyphicon glyphicon-plus-sign"> Đang Theo Dõi: <strong style="color: red;">987</strong></i><br><br>
      <i class="glyphicon glyphicon-comment"> Tỉ Lệ Phản Hồi Chat:<strong style="color: red;"> 100% (trong vài
          giây)</strong> </i>
    </div>
    <div class="col-sm-4" style="margin-top: 30px;">
      <i class="glyphicon glyphicon-user"> Người theo dõi: <strong style="color: red;">65785</strong></i><br><br>
      <i class="glyphicon glyphicon-star"> Đánh giá: <strong style="color: red;">5.0 (8986 Đánh
          giá)</strong></i><br><br>
      <i class="glyphicon glyphicon-calendar"> Tham gia: <strong style="color: red;">2 năm trước</strong></i>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------- -->
<hr>
<div class="category-derc form-group">
  <div class="container">
    <div class="title-category">
      <h3><strong style="margin-left: 40px;">Dạo</strong> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp; <strong><a routerLink="/shop/showall/interface">Tất cả sản phẩm</a></strong></h3>
    </div>

    <div class="category-desc" style="margin-top: 20px;">
      <div class="row">
        <h3>THÔNG TIN SHOP</h3>
        <div class="col-sm-6">

          <div class="col-lg-12 col-md-8 col-sm-8 col-xs-12 col2">
            <div class="module sohomepage-slider ">
              <div class="yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4"
                data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1" data-items_column2="1"
                data-items_column3="1" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes"
                data-loop="no" data-hoverpause="yes">
                <div class="yt-content-slide">
                  <img src="/assets/img/slider-1.jpg" alt="slider1" class="img-responsive">
                </div>
                <div class="yt-content-slide">
                  <img src="/assets/img/slider-2.jpg" alt="slider2" class="img-responsive">
                </div>
                <div class="yt-content-slide">
                  <img src="/assets/img/slider-3.jpg" alt="slider3" class="img-responsive">
                </div>
              </div>

              <div class="loadeding"></div>
            </div>

          </div>
        </div>
        <div class="col-sm-6">

          <textarea class="form-control" rows="12" style="border: none;" >
           KimThanh.vn
            Welcome to the Green Lemon dress shop!!!
            Please choose the size according to the following chart:
            Size       Weight Range
            S              40-45kg
            M             45-50kg
            L              50-55kg
            XL            55-60kg
            2XL          60-65kg
            If you have any problem, please contact us.
            Hope you have a nice shopping!!!
            If you have any problem, please contact us.
            Hope you have a nice shopping!!!
            If you have any problem, please contact us.
            Hope you have a nice shopping!!!
          </textarea>
        </div>



      </div>


<!-- ----------------------------------------------------------------------------------------------------- -->
  <div class="related titleLine products-list grid module ">
    <h3 class="modtitle">Gợi ý cho bạn </h3>

    <div class="releate-products yt-content-slider products-list" data-rtl="no" data-loop="yes" data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="5" data-items_column1="3" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
      <div class="item">
                    <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                            <div class="left-block">
                                <div class="product-image-container second_img">
                                    <a href="product.html" target="_self" title="Pastrami bacon">
                                        <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="Pastrami bacon">
                                        <img src="/assets/img/2.jpg" class="img-2 img-responsive" alt="Pastrami bacon">
                                    </a>
                                </div>

                                <div class="button-group so-quickview cartinfo--left">
                                    <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                        <span>Add to cart </span>
                                    </button>
                                    <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                    </button>
                                    <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                    </button>
                                    <!--quickview-->
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                    <!--end quickview-->
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">

                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <h4><a href="product.html" title="Pastrami bacon" target="_self">Pastrami bacon</a></h4>
                                    <div class="price">$42.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                            <div class="left-block">
                                <div class="product-image-container second_img">
                                    <a href="product.html" target="_self" title="Chicken swinesha">
                                        <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="image">
                                        <img src="/assets/img/3.jpg" class="img-2 img-responsive" alt="image">
                                    </a>
                                </div>
                                <div class="box-label"> <span class="label-product label-sale"> -16% </span></div>
                                <div class="button-group so-quickview cartinfo--left">
                                    <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                        <span>Add to cart </span>
                                    </button>
                                    <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                    </button>
                                    <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                    </button>
                                    <!--quickview-->
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                    <!--end quickview-->
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    </div>
                                    <div class="price"> <span class="price-new">$46.00</span>
                                        <span class="price-old">$55.00</span>
                                    </div>
                                    <h4><a href="product.html" title="Chicken swinesha" target="_self">Chicken swinesha</a></h4>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                            <div class="left-block">
                                <div class="product-image-container second_img">
                                    <a href="product.html" target="_self" title="Kielbasa hamburg">
                                        <img src="/assets/img/12.jpg" class="img-1 img-responsive" alt="Pastrami bacon">
                                        <img src="/assets/img/6.jpg" class="img-2 img-responsive" alt="Pastrami bacon">
                                    </a>
                                </div>
                                <div class="box-label"> <span class="label-product label-new"> New </span></div>
                                <div class="button-group so-quickview cartinfo--left">
                                    <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                        <span>Add to cart </span>
                                    </button>
                                    <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                    </button>
                                    <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                    </button>
                                    <!--quickview-->
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                    <!--end quickview-->
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="product.html" title="Kielbasa hamburg" target="_self">Kielbasa hamburg</a></h4>
                                    <div class="price">$55.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                            <div class="left-block">
                                <div class="product-image-container second_img">
                                    <a href="product.html" target="_self" title="Sausage cowbee">
                                        <img src="/assets/img/3.jpg" class="img-1 img-responsive" alt="image">
                                        <img src="/assets/img/4.jpg" class="img-2 img-responsive" alt="image">
                                    </a>
                                </div>

                                <div class="button-group so-quickview cartinfo--left">
                                    <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                        <span>Add to cart </span>
                                    </button>
                                    <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                    </button>
                                    <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                    </button>
                                    <!--quickview-->
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                    <!--end quickview-->
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="product.html" title="Sausage cowbeea" target="_self">Sausage cowbee</a></h4>
                                    <div class="price">$60.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                            <div class="left-block">
                                <div class="product-image-container second_img">
                                    <a href="product.html" target="_self" title="Kielbasa hamburg">
                                        <img src="/assets/img/2.jpg" class="img-1 img-responsive" alt="Pastrami bacon">
                                        <img src="/assets/img/6.jpg" class="img-2 img-responsive" alt="Pastrami bacon">
                                    </a>
                                </div>

                                <div class="button-group so-quickview cartinfo--left">
                                    <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                        <span>Add to cart </span>
                                    </button>
                                    <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                    </button>
                                    <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                    </button>
                                    <!--quickview-->
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                    <!--end quickview-->
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="product.html" title="Drumstick tempor" target="_self">Drumstick tempor</a></h4>
                                    <div class="price">$75.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                            <div class="left-block">
                                <div class="product-image-container second_img">
                                    <a href="product.html" target="_self" title="Balltip nullaelit">
                                        <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="image">
                                        <img src="/assets/img/2.jpg" class="img-2 img-responsive" alt="image">
                                    </a>
                                </div>
                                <div class="box-label"> <span class="label-product label-new"> New </span></div>
                                <div class="button-group so-quickview cartinfo--left">
                                    <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                        <span>Add to cart </span>
                                    </button>
                                    <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                    </button>
                                    <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                    </button>
                                    <!--quickview-->
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                    <!--end quickview-->
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="product.html" title="Balltip nullaelit" target="_self">Balltip nullaelit</a></h4>
                                    <div class="price">$80.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                            <div class="left-block">
                                <div class="product-image-container second_img">
                                    <a href="product.html" target="_self" title="Lamboudin ribeye">
                                        <img src="/assets/img/3.jpg" class="img-1 img-responsive" alt="image">
                                        <img src="/assets/img/10.jpg" class="img-2 img-responsive" alt="image">
                                    </a>
                                </div>

                                <div class="button-group so-quickview cartinfo--left">
                                    <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                        <span>Add to cart </span>
                                    </button>
                                    <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                    </button>
                                    <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                    </button>
                                    <!--quickview-->
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                    <!--end quickview-->
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="product.html" title="Lamboudin ribeye" target="_self">Lamboudin ribeye</a></h4>
                                    <div class="price">$63.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
  </div>
</div>


<!-- ------------------------------------------------------------------------------------------ -->
<div class="related titleLine products-list grid module ">
  <h3 class="modtitle">DEAL HOT, MUA NGAY KẺO LỠ! </h3>

  <div class="releate-products yt-content-slider products-list" data-rtl="no" data-loop="yes" data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="5" data-items_column1="3" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
    <div class="item">
                  <div class="item-inner product-layout transition product-grid">
                      <div class="product-item-container">
                          <div class="left-block">
                              <div class="product-image-container second_img">
                                  <a href="product.html" target="_self" title="Pastrami bacon">
                                      <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="Pastrami bacon">
                                      <img src="/assets/img/2.jpg" class="img-2 img-responsive" alt="Pastrami bacon">
                                  </a>
                              </div>

                              <div class="button-group so-quickview cartinfo--left">
                                  <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                      <span>Add to cart </span>
                                  </button>
                                  <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                  </button>
                                  <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                  </button>
                                  <!--quickview-->
                                  <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                  <!--end quickview-->
                              </div>
                          </div>
                          <div class="right-block">
                              <div class="caption">

                                  <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                  </div>
                                  <h4><a href="product.html" title="Pastrami bacon" target="_self">Pastrami bacon</a></h4>
                                  <div class="price">$42.00</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="item-inner product-layout transition product-grid">
                      <div class="product-item-container">
                          <div class="left-block">
                              <div class="product-image-container second_img">
                                  <a href="product.html" target="_self" title="Chicken swinesha">
                                      <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="image">
                                      <img src="/assets/img/3.jpg" class="img-2 img-responsive" alt="image">
                                  </a>
                              </div>
                              <div class="box-label"> <span class="label-product label-sale"> -16% </span></div>
                              <div class="button-group so-quickview cartinfo--left">
                                  <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                      <span>Add to cart </span>
                                  </button>
                                  <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                  </button>
                                  <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                  </button>
                                  <!--quickview-->
                                  <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                  <!--end quickview-->
                              </div>
                          </div>
                          <div class="right-block">
                              <div class="caption">
                                  <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                  </div>
                                  <div class="price"> <span class="price-new">$46.00</span>
                                      <span class="price-old">$55.00</span>
                                  </div>
                                  <h4><a href="product.html" title="Chicken swinesha" target="_self">Chicken swinesha</a></h4>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="item-inner product-layout transition product-grid">
                      <div class="product-item-container">
                          <div class="left-block">
                              <div class="product-image-container second_img">
                                  <a href="product.html" target="_self" title="Kielbasa hamburg">
                                      <img src="/assets/img/12.jpg" class="img-1 img-responsive" alt="Pastrami bacon">
                                      <img src="/assets/img/6.jpg" class="img-2 img-responsive" alt="Pastrami bacon">
                                  </a>
                              </div>
                              <div class="box-label"> <span class="label-product label-new"> New </span></div>
                              <div class="button-group so-quickview cartinfo--left">
                                  <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                      <span>Add to cart </span>
                                  </button>
                                  <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                  </button>
                                  <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                  </button>
                                  <!--quickview-->
                                  <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                  <!--end quickview-->
                              </div>
                          </div>
                          <div class="right-block">
                              <div class="caption">
                                  <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                  </div>

                                  <h4><a href="product.html" title="Kielbasa hamburg" target="_self">Kielbasa hamburg</a></h4>
                                  <div class="price">$55.00</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="item-inner product-layout transition product-grid">
                      <div class="product-item-container">
                          <div class="left-block">
                              <div class="product-image-container second_img">
                                  <a href="product.html" target="_self" title="Sausage cowbee">
                                      <img src="/assets/img/3.jpg" class="img-1 img-responsive" alt="image">
                                      <img src="/assets/img/4.jpg" class="img-2 img-responsive" alt="image">
                                  </a>
                              </div>

                              <div class="button-group so-quickview cartinfo--left">
                                  <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                      <span>Add to cart </span>
                                  </button>
                                  <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                  </button>
                                  <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                  </button>
                                  <!--quickview-->
                                  <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                  <!--end quickview-->
                              </div>
                          </div>
                          <div class="right-block">
                              <div class="caption">
                                  <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                  </div>

                                  <h4><a href="product.html" title="Sausage cowbeea" target="_self">Sausage cowbee</a></h4>
                                  <div class="price">$60.00</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="item-inner product-layout transition product-grid">
                      <div class="product-item-container">
                          <div class="left-block">
                              <div class="product-image-container second_img">
                                  <a href="product.html" target="_self" title="Kielbasa hamburg">
                                      <img src="/assets/img/2.jpg" class="img-1 img-responsive" alt="Pastrami bacon">
                                      <img src="/assets/img/6.jpg" class="img-2 img-responsive" alt="Pastrami bacon">
                                  </a>
                              </div>

                              <div class="button-group so-quickview cartinfo--left">
                                  <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                      <span>Add to cart </span>
                                  </button>
                                  <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                  </button>
                                  <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                  </button>
                                  <!--quickview-->
                                  <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                  <!--end quickview-->
                              </div>
                          </div>
                          <div class="right-block">
                              <div class="caption">
                                  <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                  </div>

                                  <h4><a href="product.html" title="Drumstick tempor" target="_self">Drumstick tempor</a></h4>
                                  <div class="price">$75.00</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="item-inner product-layout transition product-grid">
                      <div class="product-item-container">
                          <div class="left-block">
                              <div class="product-image-container second_img">
                                  <a href="product.html" target="_self" title="Balltip nullaelit">
                                      <img src="/assets/img/8.jpg" class="img-1 img-responsive" alt="image">
                                      <img src="/assets/img/2.jpg" class="img-2 img-responsive" alt="image">
                                  </a>
                              </div>
                              <div class="box-label"> <span class="label-product label-new"> New </span></div>
                              <div class="button-group so-quickview cartinfo--left">
                                  <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                      <span>Add to cart </span>
                                  </button>
                                  <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                  </button>
                                  <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                  </button>
                                  <!--quickview-->
                                  <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                  <!--end quickview-->
                              </div>
                          </div>
                          <div class="right-block">
                              <div class="caption">
                                  <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                  </div>

                                  <h4><a href="product.html" title="Balltip nullaelit" target="_self">Balltip nullaelit</a></h4>
                                  <div class="price">$80.00</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="item-inner product-layout transition product-grid">
                      <div class="product-item-container">
                          <div class="left-block">
                              <div class="product-image-container second_img">
                                  <a href="product.html" target="_self" title="Lamboudin ribeye">
                                      <img src="/assets/img/3.jpg" class="img-1 img-responsive" alt="image">
                                      <img src="/assets/img/10.jpg" class="img-2 img-responsive" alt="image">
                                  </a>
                              </div>

                              <div class="button-group so-quickview cartinfo--left">
                                  <button type="button" class="addToCart btn-button" title="Add to cart" onclick="cart.add('60 ');">  <i class="fa fa-shopping-basket"></i>
                                      <span>Add to cart </span>
                                  </button>
                                  <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish List</span>
                                  </button>
                                  <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this Product</span>
                                  </button>
                                  <!--quickview-->
                                  <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                  <!--end quickview-->
                              </div>
                          </div>
                          <div class="right-block">
                              <div class="caption">
                                  <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                  </div>

                                  <h4><a href="product.html" title="Lamboudin ribeye" target="_self">Lamboudin ribeye</a></h4>
                                  <div class="price">$63.00</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
  </div>
</div>

<!--changed listings-->

<!--// End Changed listings-->
