<div class="col-sm-2">
  <app-aside-shop></app-aside-shop>
</div>
<div class="col-sm-10" style="margin-top: 70px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab-1" (click)="filterOrderByStatus('')">Tất cả</a>
    </li>
    <li><a data-toggle="tab" href="#tab-5" (click)="filterOrderByStatus('Đã giao')">Đã giao</a>
    </li>
    <li><a data-toggle="tab" href="#tab-6" (click)="filterOrderByStatus('Đã hủy')">Đơn huỷ</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab-1">
      <div class="main-container container">

        <div class="row">
          <!--Middle Part Start-->
          <div id="content" class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
               <div class="row">
                 <div class="col-md-6">
                   <form class="app-search d-none d-lg-block" style="margin-top: 15px;">
                     <div class="position-relative">
                       <input   type="text" class="form-control"
                         placeholder="Search..." name="keywordAll" id="keywordAll" #keywordAll>
 
                     </div>
                   </form>
                 </div>
                 <div class="col-md-6">
                   <input   (click)= "searchAllOrder(keywordAll.value)" type="submit" class="btn btn-danger" value="Tìm"
                     style="border-radius:4px 4px; width: 76px; margin-top: 14px;">
                   &nbsp;
                 </div>
               </div>
              </div>
               <div class="col-sm-6" style="margin-top: 16px;">
                 <!-- <select (change)="changeSizeEnableTrue($event)" name="cars" id="cars"
                   style="width: 200px; height: 30px;">
                   <option hidden>Show</option>
                   <option value="5">5</option>
                   <option value="10">10</option>
                   <option value="15">15</option>
                 </select> -->
               </div>
             </div><br>
            <!-- ALL -->
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td><strong>Mã hóa đơn</strong></td>
                    <td><strong>Tên người mua</strong></td>
                    <td><strong>Số điện thoại</strong></td>
                    <td><strong>Ngày mua</strong></td>
                    <td><strong>Tổng tiền</strong></td>
                    <td><strong>Trạng thái</strong></td>
                    <td><strong>Ghi chú</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let e of itemsAll  | paginate: {itemsPerPage: size, currentPage: pAll, totalItems: count, id: 'all'}">
                    <td>{{e.id}}</td>
                    <td>{{e.user.first_name}} {{e.user.last_name}}</td>
                    <td>{{e.phone}}</td>
                    <td>{{e.create_date | date :'short'}}</td>
                    <td>{{e.total_amount}}</td>
                    <td>{{e.status}}</td>
                    <td>{{e.note}}</td>
                    <td><a (click)="showOrderDetail(e.id)" data-toggle="modal" data-target="#exampleModal"> Sửa</a></td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="handlePageChange($event ,'all')" id="all"></pagination-controls>
            </div>

          </div>
          <!--Middle Part End -->

        </div>
      </div>
    </div>

    <div class="tab-pane" id="tab-5">
      <div class="main-container container">


        <div class="row">
          <!--Middle Part Start-->
          <div id="content" class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
               <div class="row">
                 <div class="col-md-6">
                   <form class="app-search d-none d-lg-block" style="margin-top: 15px;">
                     <div class="position-relative">
                       <input   type="text" class="form-control"
                         placeholder="Search..." name="keywordTrue" id="keywordTrue" #keywordTrue>
 
                     </div>
                   </form>
                 </div>
                 <div class="col-md-6">
                   <input   (click)= "searchOrderTrue(keywordTrue.value)" type="submit" class="btn btn-danger" value="Tìm"
                     style="border-radius:4px 4px; width: 76px; margin-top: 14px;">
                   &nbsp;
                 </div>
               </div>
              </div>
               <div class="col-sm-6" style="margin-top: 16px;">
                 <!-- <select (change)="changeSizeEnableTrue($event)" name="cars" id="cars"
                   style="width: 200px; height: 30px;">
                   <option hidden>Show</option>
                   <option value="5">5</option>
                   <option value="10">10</option>
                   <option value="15">15</option>
                 </select> -->
               </div>
             </div><br>

            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td><strong>Mã hóa đơn</strong></td>
                    <td><strong>Tên người mua</strong></td>
                    <td><strong>Số điện thoại</strong></td>
                    <td><strong>Ngày mua</strong></td>
                    <td><strong>Tổng tiền</strong></td>
                    <td><strong>Trạng thái</strong></td>
                    <td><strong>Ghi chú</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let e of itemsDaGiao  | paginate: {itemsPerPage: size, currentPage: pDaGiao, totalItems: count, id: 'dagiao'}">
                    <td>{{e.id}}</td>
                    <td>{{e.user.first_name}} {{e.user.last_name}}</td>
                    <td>{{e.phone}}</td>
                    <td>{{e.create_date | date :'short'}}</td>
                    <td>{{e.total_amount}}</td>
                    <td>{{e.status}}</td>
                    <td>{{e.note}}</td>
                    <td><a (click)="showOrderDetail(e.id)" data-toggle="modal" data-target="#exampleModal"> Sửa</a></td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="handlePageChange($event, 'dagiao')" id="dagiao"></pagination-controls>
            </div>
          </div>
          <!--Middle Part End -->

        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-6">
      <div class="main-container container">


        <div class="row">
          <!--Middle Part Start-->
          <div id="content" class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
               <div class="row">
                 <div class="col-md-6">
                   <form class="app-search d-none d-lg-block" style="margin-top: 15px;">
                     <div class="position-relative">
                       <input   type="text" class="form-control"
                         placeholder="Search..." name="keywordFalse" id="keywordFalse" #keywordFalse>
 
                     </div>
                   </form>
                 </div>
                 <div class="col-md-6">
                   <input   (click)= "searchOrderFalse(keywordFalse.value)" type="submit" class="btn btn-danger" value="Tìm"
                     style="border-radius:4px 4px; width: 76px; margin-top: 14px;">
                   &nbsp;
                 </div>
               </div>
              </div>
               <div class="col-sm-6" style="margin-top: 16px;">
                 <!-- <select (change)="changeSizeEnableTrue($event)" name="cars" id="cars"
                   style="width: 200px; height: 30px;">
                   <option hidden>Show</option>
                   <option value="5">5</option>
                   <option value="10">10</option>
                   <option value="15">15</option>
                 </select> -->
               </div>
             </div><br>

            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td><strong>Mã hóa đơn</strong></td>
                    <td><strong>Tên người mua</strong></td>
                    <td><strong>Số điện thoại</strong></td>
                    <td><strong>Ngày mua</strong></td>
                    <td><strong>Tổng tiền</strong></td>
                    <td><strong>Trạng thái</strong></td>
                    <td><strong>Ghi chú</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let e of itemsDaHuy  | paginate: {itemsPerPage: size, currentPage: pDaHuy, totalItems: count, id:'dahuy'}">
                    <td>{{e.id}}</td>
                    <td>{{e.user.first_name}} {{e.user.last_name}}</td>
                    <td>{{e.phone}}</td>
                    <td>{{e.create_date | date :'short'}}</td>
                    <td>{{e.total_amount}}</td>
                    <td>{{e.status}}</td>
                    <td>{{e.note}}</td>
                    <td><a (click)="showOrderDetail(e.id)" data-toggle="modal" data-target="#exampleModal"> Sửa</a></td>

                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="handlePageChange($event, 'dahuy')" id="dahuy"></pagination-controls>
            </div>
          </div>
          <!--Middle Part End -->

        </div>
      </div>
    </div>

    <!-- Modal -->

    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Đơn hàng chi tiết</h5>
            <div class="row">
              <div class="col-sm-6">
               <div class="row">
                 <div class="col-md-6">
                   <form class="app-search d-none d-lg-block" style="margin-top: 15px;">
                     <div class="position-relative">
                       <input   type="text" class="form-control"
                         placeholder="Search..." name="keywordDetail" id="keywordDetail" #keywordDetail>
 
                     </div>
                   </form>
                 </div>
                 <div class="col-md-6">
                   <input   (click)= "searchOrderDetail(keywordDetail.value)" type="submit" class="btn btn-danger" value="Tìm"
                     style="border-radius:4px 4px; width: 76px; margin-top: 14px;">
                   &nbsp;
                 </div>
               </div>
              </div>
               <div class="col-sm-6" style="margin-top: 16px;">
                 <!-- <select (change)="changeSizeEnableTrue($event)" name="cars" id="cars"
                   style="width: 200px; height: 30px;">
                   <option hidden>Show</option>
                   <option value="5">5</option>
                   <option value="10">10</option>
                   <option value="15">15</option>
                 </select> -->
               </div>
             </div><br>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td><strong>#</strong>td>
                    <td><strong>Mã hóa đơn</strong></td>
                    <td><strong>Tên sản phẩm</strong></td>
                    <td><strong>Tên loại sản phẩm</strong></td>
                    <td><strong>Giá</strong></td>
                    <td><strong>Số lượng</strong></td>
                    <td><strong>Tổng tiền</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let e of itemsDetail  | paginate: {itemsPerPage: size, currentPage: pDetail, totalItems: countDetail, id:'detail'}">
                    <td>
                      <img src="http://localhost:8080/ede-file/get/image/idProductOption/{{e.productOption.id}}" width="100" height="100">
                    </td>
                    <td>{{e.id}}</td>
                    <td>{{e.productOption.product.name}}</td>
                    <td>{{e.productOption.display_name}}</td>
                    <td>{{e.price}}</td>
                    <td>{{e.quantity}}</td>
                    <td>{{e.price * e.quantity}}</td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="handlePageChangeDetail($event)" id="detail"></pagination-controls>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
