<div class="row">
  <div class="col-sm-2">
    <app-aside-shop></app-aside-shop>
  </div>
  <div class="col-sm-10">
    <div class="container" style="margin-top: 5px;">
      <div class="category-derc form-group">
        <h2><b>Hồ Sơ Shop</b></h2>
        <p>Xem tình trạng Shop và cập nhật hồ sơ Shop của bạn</p>
        <div class="title-category">
          <h3><strong style="margin-left: 40px;">Thông tin cơ bản</strong> </h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-sm-5" style="width: 400px;">
          <aside class=" content-aside" id="column-left">
            <ul class="list-group">
              <li class="list-group-item" style="color: white; text-align: center; ">
                <div style="background-image: url('/assets/img/ba.jpg'); background-size: 200px; ">
                  <div class="row">
                    <div class="col-sm-4"> <img src="/assets/img/nen.jpg"
                        style="width: 50px; height: 50px; margin-top: 40px; margin-bottom: 70px;"></div>
                    <div class="col-sm-8" style="margin-top: 30px;">
                      <h4 class="pull-left">KimThanh.vn</h4>
                      <h6 class="pull-left"><strong>Người theo dõi: 97896</strong>&nbsp;|&nbsp;<strong>Theo dõi:
                          10</strong></h6>
                      <h6 class="pull-left">Đã tham gia: 22/08/2019</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12"><button
                        style="border:1px solid rgb(56, 56, 56); background-color: rgb(112, 112, 112); color: white; width: 338px;">
                        Sửa ảnh bìa</button>
                    </div>
                  </div>

                </div>
              </li>
              <li class="list-group-item"><a routerLink="/shop/interface"><span><i
                      class="glyphicon glyphicon-modal-window"></i> Giao diện Shop trên máy tính</span> <span
                    class="pull-right" style="color: red;">Xem <i class="glyphicon glyphicon-chevron-right"></i></span>
                </a></li>
              <li class="list-group-item"><span><i class="glyphicon glyphicon-gift"></i> Sản phẩm</span> <span
                  class="pull-right" style="color: red;">98983 <i class="glyphicon glyphicon-chevron-right"></i></span>
              </li>
              <li class="list-group-item"><span><i class="glyphicon glyphicon-comment"></i> Tỉ lệ phản hồi</span> <span
                  class="pull-right" style="color: red;">100% <i class="glyphicon glyphicon-chevron-right"></i></span>
              </li>
              <li class="list-group-item"><span><i class="glyphicon glyphicon-send"></i> Thời gian phản hồi</span> <span
                  class="pull-right" style="color: red;">Trong vài tiếng <i
                    class="glyphicon glyphicon-chevron-right"></i></span></li>
              <li class="list-group-item"><span><i class="glyphicon glyphicon-menu-hamburger"></i> Đánh giá phản
                  hồi</span> <span class="pull-right" style="color: red;">5 sao <i
                    class="glyphicon glyphicon-chevron-right"></i></span></li>
              <li class="list-group-item"><span><i class="glyphicon glyphicon-tasks"></i> Tỉ lệ đơn không thành
                  công</span> <span class="pull-right" style="color: red;">98,99% <i
                    class="glyphicon glyphicon-chevron-right"></i></span></li>
            </ul>

          </aside>
        </div>
        <div class="col-sm-7">
          <div class="form-group required">
            <label for="input-display-name" class="col-sm-12 control-label"><b>Tên cửa hàng</b></label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="display_name" id="input-display-name"
                placeholder="Nhập tên cửa hàng..." value="" name="product"><br>
            </div><br>
            <label for="input-display-name" class="col-sm-12 control-label"><b>Địa chỉ cửa hàng</b></label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="display_name" id="input-display-name"
                placeholder="Địa chỉ cửa hàng..." value="" name="product"><br>
            </div><br>
            <label for="input-display-name" class="col-sm-12 control-label"><b>Mô tả cửa hàng</b></label>
            <div class="col-sm-12">
              <textarea cols="70" rows="13" type="text" class="form-control" formControlName="display_name" id="input-display-name"
                placeholder="Mô tả cửa hàng..." value="" name="product"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
