<div class="product-item-container">
    <div class="left-block">
        <div class="product-image-container second_img">
            <a href="javascript:alert('Chờ phiên bản sau: product-search-element.component.html: mã search: vivi01')" target="_self" title="{{product.name}}">
                <img src="/assets/image/catalog/demo/product/270/15.jpg" class="img-1 img-responsive" alt="{{product}}">
                <img src="/assets/image/catalog/demo/product/270/2.jpg" class="img-2 img-responsive" alt="image">
            </a>
        </div>
        <div class="box-label"> <span class="label-product label-sale"> -16% </span></div>
        <div class="button-group so-quickview cartinfo--left">
            <button type="button" class="addToCart btn-button" title="Add to cart" onclick="alert('Chờ phiên bản sau: mã search: product-search-element.component.html: tn01')">  <i class="fa fa-shopping-basket"></i>
                <span>Add to cart </span>   
            </button>
            <button type="button" class="wishlist btn-button" title="Add to Wish List"  onclick="alert('Chờ phiên bản sau: mã search: product-search-element.component.html: tn02')"><i class="fa fa-heart"></i><span>Add to Wish List</span>
            </button>
            <button type="button" class="compare btn-button" title="Compare this Product "  onclick="alert('Chờ phiên bản sau: mã search: product-search-element.component.html: tn03')"><i class="fa fa-refresh"></i><span>Compare this Product</span>
            </button>
            <!--quickview-->                                                      
            <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="javascript:alert('Chờ phiên bản sau: mã search: product-search-element.component.html: vivi02')" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick view</span></a>                                                        
            <!--end quickview-->
        </div>
    </div>
    <div class="right-block">
        <div class="caption">
            <div class="price"> <span class="price-new">$46.00</span>
                <span class="price-old">$55.00</span>
            </div>
            <h4><a href="javascript:alert('Chờ phiên bản sau: mã search: product-search-element.component.html: vivi03')" title="{{product.name}}" target="_self">{{product.name}}</a></h4>
            
        </div>
    </div>
</div>