<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Account</a></li>
			<li><a href="#">Forgot Passowrd</a></li>
		</ul>

		<div class="row">
			<!--Middle Part Start-->
			<div class="col-sm-9" id="content">
				<h2 class="title">My Account</h2>
				<p class="lead">Hello, <strong>Jhone Cary!</strong> - To update your account information.</p>
				<form [formGroup]="myform">
					<div class="px-3">
						<fieldset>
              <ng-container *ngIf="!token; then thenTemplate"></ng-container>
              <ng-template #thenTemplate>
                <legend>Get OTP</legend>
                <div class="form-group required">
                  <label style="width:100%" for="input-email" class="control-label">Email</label>
                  <input [readonly]="countdown > 0" formControlName="email" style="width:80%" type="email" id="input-email" class="pull-left form-control"  placeholder="email" name="email">
                  <input [disabled]="countdown > 0" (click)="btnSendOTPClick()" style="width:20%" type="submit" class="pull-right btn btn-md btn-primary" value="Get OTP {{countdown <= 0 ? '' : '('+countdown+')'}}">
                  <div *ngIf="myform.controls['email'].invalid && (myform.controls['email'].dirty || myform.controls['email'].touched)">
                    Email không hợp lệ
                  </div>
                </div>
                <br/><br/>
              </ng-template>
              <legend>Change Password</legend>
              <div *ngIf="token" class="form-group required">
                <label style="width:100%" for="input-email" class="control-label">Email</label>
                  <input [readonly]="true" style="width:80%" formControlName="email" type="email" id="input-email" class="pull-left form-control"  placeholder="email" value="" name="email">
                  <button (click)="token = ''" [disabled]="countdown > 0" style="width:20%" class="pull-right btn btn-md btn-primary" >Change {{countdown <= 0 ? '' : '('+countdown+')'}}</button>
                  <div *ngIf="myform.controls['email'].invalid && (myform.controls['email'].dirty || myform.controls['email'].touched)">
                    Email không hợp lệ
                  </div>
              </div>
              <div *ngIf="!token || ('1' == token)" class="form-group required">
                <label for="input-otp" class="control-label">OTP</label>
                <input type="number" formControlName="otp" id="input-otp" class="form-control"  placeholder="OTP" value="" name="otp">
                <div *ngIf="myform.controls['otp'].invalid && (myform.controls['otp'].dirty || myform.controls['otp'].touched)">
                  OTP không hợp lệ
                </div>
              </div>
              <div class="form-group required">
                <label for="input-password" class="control-label">New Password</label>
                <input type="password" formControlName="password" id="input-password" class="form-control" placeholder="New Password" value="" name="new-password">
                <div *ngIf="myform.controls['password'].invalid && (myform.controls['password'].dirty || myform.controls['password'].touched)">
                  Password không hợp lệ
                </div>
              </div>
              <div class="form-group required">
                <label style="width:100%" for="input-confirm" class="control-label">New Password Confirm</label>
                <input style="width:80%" type="password" formControlName="repassword" class="pull-left form-control" id="input-confirm" placeholder="New Password Confirm" value="" name="new-confirm">
                <input (click)="btnResetPasswordClick()" style="width:20%" type="submit" class="pull-right btn btn-md btn-primary" value="Create Password">
                <div *ngIf="myform.controls['repassword'].invalid && (myform.controls['repassword'].dirty || myform.controls['repassword'].touched)">
                  OTP không hợp lệ
                </div>
              </div>
            </fieldset>
					</div>
				</form>
			</div>
			<!--Middle Part End-->
			<!--Right Part Start -->
			<aside class="col-sm-3 hidden-xs" id="column-right">
				<h2 class="subtitle">Account</h2>
				<div class="list-group">
					<ul class="list-item">
						<li><a href="login.html">Login</a>
						</li>
						<li><a href="register.html">Register</a>
						</li>
						<li><a href="#">Forgotten Password</a>
						</li>
						<li><a href="#">My Account</a>
						</li>
						<li><a href="#">Address Books</a>
						</li>
						<li><a href="wishlist.html">Wish List</a>
						</li>
						<li><a href="#">Order History</a>
						</li>
						<li><a href="#">Downloads</a>
						</li>
						<li><a href="#">Reward Points</a>
						</li>
						<li><a href="#">Returns</a>
						</li>
						<li><a href="#">Transactions</a>
						</li>
						<li><a href="#">Newsletter</a>
						</li>
						<li><a href="#">Recurring payments</a>
						</li>
					</ul>
				</div>
			</aside>
			<!--Right Part End -->
		</div>
	</div>
	<!-- //Main Container -->
