<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-home"></i></a>
        </li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Register</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h2 class="title">Đăng ký tài khoản</h2>
            <p>
                Nếu bạn đã có tài khoản và không cần đăng ký, hãy vào trang
                <a routerLink="/login">Đăng nhập</a>.
            </p>
            <form [formGroup]="register" class="form-horizontal account-register clearfix">
                <input type="file" class="form-control" formControlName="photo" />
                <fieldset id="account">
                    <legend>Thông tin cá nhân</legend>
                    <div class="form-group required" style="display: none">
                        <label class="col-sm-2 control-label">Customer Group</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="customer_group_id" value="1" checked="checked" />
                                    Mặc định
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-username" id="to_name">Tài khoản</label>
                        <div class="col-sm-10">
                            <input formControlName="username" type="text" placeholder="Tài khoản" id="input-username" class="form-control" required />
                            <div *ngIf="
                  register.controls['username'].invalid &&
                  (register.controls['username'].dirty ||
                    register.controls['username'].touched)
                " class="alert alert-danger">
                                <span *ngIf="
                    register.controls['username'].errors &&
                    register.controls['username'].errors.required
                  ">Tài khoản là bắt buộc.</span>
                                <span *ngIf="
                  register.controls['username'].errors &&
                  register.controls['username'].errors.pattern
                ">Tài khoản không đúng định dạng.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-firstname">Họ</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="first_name" placeholder="Họ" id="input-firstname" class="form-control" />
                            <div *ngIf="
                  register.controls['first_name'].invalid &&
                  (register.controls['first_name'].dirty ||
                    register.controls['first_name'].touched)
                " class="alert alert-danger">
                                <span *ngIf="
                    register.controls['first_name'].errors &&
                    register.controls['first_name'].errors.required
                  ">Họ là bắt buộc.</span>
                                <span *ngIf="
                      register.controls['first_name'].errors &&
                      register.controls['first_name'].errors.pattern
                    ">Họ không đúng định dạng.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-lastname">Tên</label>
                        <div class="col-sm-10">
                            <input type="text" name="lastname" value="" formControlName="last_name" placeholder="Tên" id="input-firstname" class="form-control" />
                            <div *ngIf="
                  register.controls['last_name'].invalid &&
                  (register.controls['last_name'].dirty ||
                    register.controls['last_name'].touched)
                " class="alert alert-danger">
                                <span *ngIf="
                    register.controls['last_name'].errors &&
                    register.controls['last_name'].errors.required
                  ">Tên là bắt buộc.</span>
                                <span *ngIf="
                  register.controls['last_name'].errors &&
                  register.controls['last_name'].errors.pattern
                ">Tên không đúng định dạng.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" value="" formControlName="email" placeholder="E-Mail" id="input-email" class="form-control" />
                            <div *ngIf="
                  register.controls['email'].invalid &&
                  (register.controls['email'].dirty ||
                    register.controls['email'].touched)
                " class="alert alert-danger">
                                <span *ngIf="
                    register.controls['email'].errors &&
                    register.controls['email'].errors.required
                  ">Email là bắt buộc.</span>
                                <span *ngIf="
                    register.controls['email'].errors &&
                    register.controls['email'].errors.email
                  ">Email không đúng định dạng.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-telephone">Số điện thoại</label>
                        <div class="col-sm-10">
                            <input type="tel" name="telephone" value="" formControlName="phone" placeholder="Số điện thoại" id="input-telephone" class="form-control" />
                            <div *ngIf="
                    register.controls['phone'].invalid &&
                    (register.controls['phone'].dirty ||
                      register.controls['phone'].touched)
                  " class="alert alert-danger">
                                <span *ngIf="
                      register.controls['phone'].errors &&
                      register.controls['phone'].errors.required
                    ">Số điện thoại là bắt buộc.</span>
                                <span *ngIf="
                      register.controls['phone'].errors &&
                      register.controls['phone'].errors.pattern
                    ">Số điện thoại không đúng định dạng.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-zone">Giới tính</label>
                        <div class="col-sm-10">
                            <select name="zone_id" id="input-zone" class="form-control" formControlName="gender">
                                <option [ngValue]="null" disabled>--- Chọn giới tính ---</option>
                                <option *ngFor="let prf of genders" [ngValue]="prf.gdName">
                                    {{ prf.gdName }}
                                </option>
                            </select>
                            <div *ngIf="
                    register.controls['gender'].invalid && register.controls['gender'].touched
                  " class="alert alert-danger">
                                <span *ngIf="
                      register.controls['gender'].errors &&
                      register.controls['gender'].errors.required
                    ">Giới tính là bắt buộc</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="address">
                    <legend>Địa chỉ</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-address-1">Địa chỉ</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="address" placeholder="Địa chỉ" id="input-address-1" class="form-control" />
                            <div *ngIf="
                register.controls['address'].invalid &&
                (register.controls['address'].dirty ||
                  register.controls['address'].touched)
              " class="alert alert-danger">
                                <span *ngIf="
                  register.controls['address'].errors &&
                  register.controls['address'].errors.required
                ">Địa chỉ là bắt buộc</span>
                                <span *ngIf="
                      register.controls['address'].errors &&
                      register.controls['address'].errors.pattern
                    ">Địa chỉ không đúng định dạng</span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-city">Thành phố</label>
                        <div class="col-sm-10">
                            <input type="text" name="city" value="" placeholder="Thành phố" id="input-city" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-postcode">Post Code</label>
                        <div class="col-sm-10">
                            <input type="text" name="postcode" value="" placeholder="Post Code" id="input-postcode" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-country">Quốc gia</label>
                        <div class="col-sm-10">
                            <select name="country_id" id="input-country" class="form-control">
                                <option value="">--- Please Select ---</option>
                                <option value="244">Aaland Islands</option>
                                <option value="1">Afghanistan</option>
                                <option value="2">Albania</option>
                                <option value="3">Algeria</option>
                                <option value="4">American Samoa</option>
                                <option value="5">Andorra</option>
                                <option value="6">Angola</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-zone">Vùng / Tiểu bang</label>
                        <div class="col-sm-10">
                            <select name="zone_id" id="input-zone" class="form-control">
                                <option value="">--- Please Select ---</option>
                                <option value="3513">Aberdeen</option>
                                <option value="3514">Aberdeenshire</option>
                                <option value="3515">Anglesey</option>
                                <option value="3516">Angus</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Mật khẩu</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-password">Mật khẩu</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" formControlName="password" value="" placeholder="Mật khẩu" (change)="onPasswordChange()" id="input-password" class="form-control" />
                            <div *ngIf="
                register.controls['password'].invalid &&
                (register.controls['password'].dirty ||
                  register.controls['password'].touched)
              " class="alert alert-danger">
                                <div *ngIf="
                  register.controls['password'].errors &&
                  register.controls['password'].errors.pattern
                ">Mật khẩu phải từ 8 ký tự và bé hơn 50 ký tự, bao gồm chữ thường, chữ hoa</div>
                                <span *ngIf="
                  register.controls['password'].errors &&
                  register.controls['password'].errors.required
                ">Mật khẩu là bắt buộc</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-confirm">Xác nhận mật khẩu</label>
                        <div class="col-sm-10">
                            <input type="password" name="confirmPassword" formControlName="confirmPassword" (change)="onPasswordChange()" placeholder="Xác nhận mật khẩu Confirm" class="form-control" />
                            <span *ngIf="register.controls['confirmPassword'].dirty && register.controls['confirmPassword'].hasError('mismatch')" class="alert alert-danger">Mật khẩu không trùng khớp
                            </span>
                        </div>
                    </div>
                </fieldset>
                <div class="buttons">
                    <div class="pull-right">
                        Tôi đã đọc và đồng ý với
                        <a href="#" class="agree"><b>điều khoản</b></a>
                        <input type="checkbox" /> &nbsp;
                        <input *ngIf="register.valid" type="submit" class="btn btn-success" (click)="registerUser()" name="agree" value="1" value="Continue" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- //Main Container -->