<div class="container">
    <div class="col-sm-2">

        <aside class=" content-aside" id="column-left">
            <ul class="breadcrumb">
                <li style="width: 300px;"><a routerLink="/shop/interface"><i
                            class="glyphicon glyphicon-chevron-left"></i> TRỞ
                        LẠI TRANG CỦA SHOP</a></li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" style="color: white; text-align: center; ">
                    <div style="background-image: url('/assets/img/ba.jpg'); background-size: 200px; ">
                        <img src="/assets/img/nen.jpg" style="width: 50px; height: 50px; margin-top: 20px;">
                        <h5>KimThanh.vn</h5>
                        <h6>Online 10 phút trước</h6><br>
                    </div>
                </li>
                <li class="list-group-item title">Danh mục shop</li>
                <li class="list-group-item">
                    <a href="http://localhost:4200/shop/showall/interface">Tất cả</a>
                </li>
                <li class="list-group-item target hover" *ngFor="let item of listCategories" [value]="item.name">
                    <a class="clearfix">

                        <span (click)="clickFilterCategory(item.name)">{{item.name}}</span>
                    </a>
                </li>
                <br><br>
                <li class="list-group-item title ">Nơi bán</li>
                <li class="list-group-item target hover hover" *ngFor="let item of listCities.slice(0, 4);"
                    [value]="item.name">
                    <a class="clearfix">
                        <input type="checkbox" [checked]="location.indexOf(item.name) > -1"
                            (change)="clickFilterLocation($event,item.name)">&nbsp;
                        <span>{{item.name}}</span>
                    </a>
                </li>
                <li class="list-group-item target" *ngIf="hiddenShowLocationMore">
                    <span (click)="showHiddenLocation()">Thêm</span>
                </li>
                <div *ngIf="!hiddenLocation">
                    <li class="list-group-item target hover" *ngFor="let item of listCities.slice(4)"
                        [value]="item.name">
                        <a class="clearfix">
                            <input type="checkbox" [checked]="location.indexOf(item.name) > -1"
                                (change)="clickFilterLocation($event,item.name)">&nbsp;
                            <span>{{item.name}}</span>
                        </a>
                    </li>
                </div>
                <br><br>
                <li class="list-group-item title ">Nhãn hàng</li>
                <li class="list-group-item target hover hover" *ngFor="let item of listBrands; let i = index;"
                    [value]="item.name">
                    <a class="clearfix">
                        <input type="checkbox" [checked]="brand.indexOf(item.name) > -1"
                            (change)="clickFilterBrand($event,item.name)">&nbsp;
                        <span>{{item.name}}</span>
                    </a>
                </li>
            </ul>

        </aside>

    </div>
    <div class="col-sm-10" style="margin-top: 44px; ">
        <div class="product-filter product-filter-top filters-panel"
            style="background-color: rgb(223, 223, 223); height: 60px; padding-top: 14px; padding-left: 20px;">
            Sắp xếp theo <button style="margin-left: 10px;" class="btn btn-default">Phổ biến</button>
            <button style="margin-left: 10px;" class="btn btn-default">Mới nhất</button>
            <button style="margin-left: 10px;" class="btn btn-default">Bán chạy</button>&nbsp;&nbsp;
            <select name="cars" id="cars" style="width: 200px; height: 30px;">
                <option hidden value="volvo">Giá</option>
                <option value="saab">Giá: Thấp đến cao</option>
                <option value="opel">Giá: Cao đến thấp</option>
            </select>

        </div>
        <!-------------------------------------------------------------------------------------------------- -->
        <!--changed listings-->
        <div class="related titleLine products-list grid module">
            <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12"
                *ngFor="let product of listAllProducts | paginate: {itemsPerPage: 10, currentPage: p, totalItems: count}; let i = index">

                <div class="product-item-container" style="height:300px">
                    <div class="left-block">
                        <div class="product-image-container second_img" style="height:150px">
                            <a target="_self" title="Chicken swinesha">
                                <img src="http://localhost:8080/ede-file/get/image/{{product.optionDef.optionImageDef.image}}"
                                    class="img-1 img-responsive" alt="image">
                                <img src="http://localhost:8080/ede-file/get/image/{{product.optionDef.optionImageDef.image}}"
                                    class="img-2 img-responsive" alt="image">
                            </a>
                        </div>
                        <!-- <div class="box-label">
                            <span class="label-product label-sale"> 11 </span>
                        </div> -->
                        <div style="margin-top: 30px;">
                            <div class="button-group so-quickview cartinfo--left">
                                <button type="button" class="addToCart btn-button" title="Add to cart"
                               onclick="cart.add(this.id)"  id="{{product.name}}" (click)="addToCart(product)"> <i class="fa fa-shopping-basket"></i>
                                    <span>Add to cart</span>
                                </button>
                                <button type="button" class="wishlist btn-button" title="Add to Wish List"
                                    onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish
                                        List</span>
                                </button>
                                <button type="button" class="compare btn-button" title="Compare this Product "
                                    onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this
                                        Product</span>
                                </button>
                                <!--quickview-->
                                <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                    href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i
                                        class="fa fa-eye"></i><span>Quick view</span></a>
                                <!--end quickview-->
                            </div>
                        </div>
                    </div>
                    <div class="right-block">
                        <div class="caption">
                            <div class="rating"> <span class="fa fa-stack"><i
                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                            </div>
                            <h4 ><a href="product.html" title="Chicken swinesha" target="_self"></a>{{product.name}}
                            
                            </h4>
                            <div class="price"> <span class="price-new">{{product.optionDef.price | number}}
                                    VNĐ</span>
                                <span class="price-old">$55.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// End Changed listings-->
        <div class="col-sm-12">
            <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
    </div>
</div>