<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">Synadmin</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-first-page'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class='bx bx-home'></i>
        </div>
        <div class="menu-title">Quản lý</div>
      </a>
      <ul>
        <li> <a routerLink="/"><i class="bx bx-right-arrow-alt"></i>Trang chủ</a>
        </li>
        <li> <a routerLink="/manage-account"><i class="bx bx-right-arrow-alt"></i>Quản lý tài khoản</a>
        </li>
        <li> <a routerLink="/manage-category"><i class="bx bx-right-arrow-alt"></i>Quản lý danh mục (loại)</a>
        </li>
        <li> <a routerLink="/manage-product"><i class="bx bx-right-arrow-alt"></i>Quản lý sản phẩm</a>
        </li>
        <li> <a routerLink="/manage-shop"><i class="bx bx-right-arrow-alt"></i>Quản lý cửa hàng</a>
        </li>
        <li> <a routerLink="/manage-order-discount"><i class="bx bx-right-arrow-alt"></i>Quản lý giảm giá hóa đơn</a>
        </li>
      </ul>
    </li>
    <li class="menu-label">Biểu đồ và bản đồ</li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-line-chart"></i>
        </div>
        <div class="menu-title">Biểu đồ</div>
      </a>
      <ul>
        <li> <a href="charts-apex-chart.html"><i class="bx bx-right-arrow-alt"></i>Thống kê hóa đơn</a>
        </li>
        <li> <a href="charts-chartjs.html"><i class="bx bx-right-arrow-alt"></i>Thống kê sản phẩm</a>
        </li>
        <li> <a href="charts-highcharts.html"><i class="bx bx-right-arrow-alt"></i>Thống kê người dùng</a>
        </li>
        <li> <a href="charts-highcharts.html"><i class="bx bx-right-arrow-alt"></i>Thống kê lượt truy cập</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class='bx bx-map-pin'></i>
        </div>
        <div class="menu-title">Maps</div>
      </a>
      <ul>
        <li> <a routerLink="/map-address"><i class="bx bx-right-arrow-alt"></i>Địa chỉ cửa hàng</a>
        </li>
      </ul>
    </li>
    <li class="menu-label">Khác</li>
    <li>
    </li>
    <li>
      <a href="https://themeforest.net/user/codervent" target="_blank">
        <div class="parent-icon"><i class='bx bx-headphone'></i>
        </div>
        <div class="menu-title">Hỗ trợ</div>
      </a>
    </li>
  </ul>
  <!--end navigation-->
</div>
